nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #efefc8;
}


nav li {
    margin: 0 15px;
}


nav a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}


body {
    background-color: cadetblue;
    background-size: contain;
    font-size: 1.25rem;
    padding: 2vh;
    font-family: "MS Gothic", sans-serif;
}


#page-wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffcc;
    padding: 2.5%;
}


@font-face {
    font-family: "MS Gothic";
    src: local("fonts/MS Gothic.ttf");
}

@media (max-width: 768px) {
    body {
        background-color: #ffffcc;
        padding: 0;
    }
}
