/*  Default stuff -- phone  */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #efefc8;
}


nav li {
    margin: 0 15px;
}


nav a {
    text-decoration: none;
    color: black;
    font-size: 1.25rem;
    font-weight: bold;
}


body {
    background-color: cadetblue;
    background-size: contain;
    font-size: 1.25rem;
    padding: 2vh;
    font-family: "MS Gothic", sans-serif;
}


#page-wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffcc;
    padding: 2.5%;
}


@font-face {
    font-family: "MS Gothic";
    src: local("fonts/MS Gothic.ttf");
}

/*  Specifically for desktop/alternative aspect ratio*/
@media (min-width: 1080px) {
    body {
        background-color: #ffffcc;
        font-size: 1.50rem;
    }

    #map {
        border: 5px solid #efefc8;
    }
}

/*  Ultrawide monitor support   */
@media (min-width: 2560px) {
    body {
        background-color: #000000;
        font-size: 1.75rem;
    }

    #map {
        border: 5px solid black;
    }
}